<div class="container">
  <div class="header-text">
    <h1>Gonna get wet on your ride??</h1>
    <p>Get started below. Just input your starting and ending addresses.</p>
    <p class="alert"><%= alert %></p>
  </div>
  <%= form_for @trip do |f| %>
    <div class="row">
      <div class="offset-md-1 col-md-5 address-field">
        <div id="locationField">
          <p>Starting point</p>
          <%= f.text_field :start_place, placeholder: "Starting address..", onfocus: "geolocate()" %>
        </div>
      </div>

      <div class="col-md-5 address-field">
        <div id="locationField2">
          <p>Starting point</p>
          <%= f.text_field :end_place, placeholder: "Ending address..", onfocus: "geolocate()" %>
        </div>
      </div>
    </div>

    <div class="submit">
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>

  <% end %>
</div>

<script>
    var placeSearch, autocomplete, autocomplete2;

    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('trip_start_place'),
        {types: ['geocode']}
      );

      autocomplete2 = new google.maps.places.Autocomplete(
        document.getElementById('trip_end_place'),
        {types: ['geocode']}
      );
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_key']%>&libraries=places&callback=initAutocomplete" async defer></script>
